.companion-selection {
  background: #FFD74B;
  border-radius: 20px;
  color: #1D2E5B;
}

.feature__title {
  font-weight: 700;
  text-transform: uppercase;
}

.feature__list {
  list-style: none;

  label {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
}

.feature {
  border: none;
  border-bottom: 1px solid #F3C72B;
}
