.location {
  background-color: #e2e5f2;

  @media (min-width: @desktop-width) {
    background-color: #edeff6;
  }
}

.location__form-continent {
  @media (min-width: @tablet-width) {
    padding: 0;
  }
}
