.modale-nav__list {
  list-style: none;
}

.modale-nav {
  background-color: #ffffff;
}

.modale-nav__toggle {
  width: 18px;
  height: 19px;
}

.user-list {
  a {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: #192144;
  }
}
