.moving {
  list-style: none;
  color: #1d2e5b;
}

.moving__link {
  padding: 5px;

  &--current {
    opacity: 1;
  }
}

.moving__link-svg {
  fill: @basic_blue_light;
  opacity: 0.15;
}

.moving__link--current .moving__link-svg {
  opacity: 1;
}


.moving__select {
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    margin-right: 25px;
  }
}

.feature .moving {
  display: flex;
}

.moving__select-mark {
  opacity: 0;
  position: relative;
}

.moving__select-title--auto::before {
  content: "";
  width: 32px;
  height: 32px;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  margin-right: 10px;
  background-image: url("../image/auto.svg");

  @media (min-width: @tablet-width) {
    width: 44px;
    height: 44px;
    background-size: 50%;
  }
}


.moving__select-title--plane::before {
  content: "";
  width: 32px;
  height: 32px;
  background-size: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  margin-right: 10px;
  background-image: url("../image/plane.svg");

  @media (min-width: @tablet-width) {
    width: 44px;
    height: 44px;
    background-size: 50%;
  }
}


.moving__select-title--bike::before {
  content: "";
  width: 32px;
  height: 32px;
  background-size: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  margin-right: 10px;
  background-image: url("../image/bicycle.svg");

  @media (min-width: @tablet-width) {
    width: 44px;
    height: 44px;
    background-size: 50%;
  }
}

.moving__select-title--walk::before {
  content: "";
  width: 32px;
  height: 32px;
  background-size: center;
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  margin-right: 10px;
  background-image: url("../image/run.svg");

  @media (min-width: @tablet-width) {
    width: 44px;
    height: 44px;
    background-size: 50%;
  }
}
