.navigation__list {
  list-style: none;
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-left: 100px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    display: flex;
  }
}

.navigation__list::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background-color: #ffffff;
}

.navigation--decktop {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.navigation__item {
  text-align: center;

  @media (min-width: @tablet-width) {
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-right: 34px;
  }
}

.navigation__link {
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: #192144;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1.18;
  }

  @media (min-width: @desktop-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #ffffff;
  }
}
