.site-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 51px;
  margin-top: 76px;
  text-align: center;
}

.site-list-link {
  color: #192144;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  text-transform: uppercase;
}
