.social {
  list-style: none;
  display: flex;
  justify-content: center;
}


.social__item {
  .footer__list & {
    display: flex;
    align-items: center;
  }

  @media (min-width: @tablet-width) {
    margin-right: 16px;

    .footer__list & {
      margin-right: 0;
    }
  }
}

.social__link {
  width: 45px;
  height: 45px;
  padding: 11px;

  .footer__list & {
    background-color: @basic_yellow;
    border-radius: 50%;
    align-items: center;
  }

  @media (min-width: @tablet-width) {
    .footer__list & {
      width: 65px;
      height: 65px;
      padding: 15px;
    }
  }
}

.social__link-svg {
  @media (min-width: @tablet-width) {
    .footer__list & {
      width: 32px;
      height: 32px;
    }
  }
}

.footer__list .social__link:hover {
  background-color: #ffbd30;
}

.footer__list .social__link:active {
  background-color: #ffbd30;

  svg {
    opacity: 0.3;
  }
}
