.social {
  list-style: none;
  display: flex;
  justify-content: center;
}


.social__item {
  width: 45px;
  height: 45px;
  background-color: @basic_yellow;
  margin-left: 2px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &--tm {
    background-image: url("..//image/telegram.svg");
  }

  &--vk {
    background-image: url("..//image/vkontakte.svg");
  }

  &--you {
    background-image: url("..//image/youtube.svg");
  }
}
