.address {
  background-color: #ffd74b;
  position: relative;
  z-index: 3;
  margin-top: -30px;
  border-radius: 0 0 30px 30px;
  padding-top: 61px;
  padding-bottom: 35px;
}

.address-container {
  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.address__text {
  font-weight: 700;
  text-transform: uppercase;
  color: #1d2e5b;
  width: 60%;
  margin-left: 61px;
  margin-top: 0;
  margin-bottom: 30px;
  position: relative;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 28px;
    line-height: 1;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.address__text::before {
  content: "";
  background-image: url("../image/map_mark.svg");
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  position: absolute;
  left: -30%;

  @media (min-width: @tablet-width) {
    width: 68px;
    height: 68px;
    left: -15%;
  }
}


.address__link {
  border: 3px solid #192144;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  padding: 21px;
  display: block;
  text-decoration: none;
  color: #1d2e5b;
  position: relative;
  text-align: left;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    padding: 29px;
    margin-left: 35px;
    margin-right: 35px;
  }
}

.address__map {
  width: 100%;
}

.address__link::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 16px solid #1d2e5b;
  border-bottom: 8px solid transparent;
  position: absolute;
  right: 15px;
  margin-top: 2px;
}
