.concept {
  background-color: @basic_blue;
  margin: 0 auto;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 8;
}

.concept-container {
  background-image: url("../image/about-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom;
  padding-top: 50px;
  padding-bottom: 50px;

  @media (min-width: @tablet-width) {
    background-image: url("../image/img_tablet.png");
    background-position: right;
    background-size: auto 80%;
  }

  @media (min-width: @desktop-width) {
    background-image: url("../image/img_back.png");
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.concept__description {
  text-align: left;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: @tablet-width) {
    width: 50%;
  }
}

.concept__description-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  color: @special_orange;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .concept__description-title {
    font-size: 45px;
  }
}

.concept__description-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.38;
  margin-bottom: 0;

  @media (min-width: @tablet-width) {
    font-size: 28px;
  }
}

.concept__description-text span {
  font-weight: 700;
  display: inline-block;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 1.19;
  }

  @media (min-width: @desktop-width) {
    margin-top: 38px;
  }
}


.concept__button {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    margin-left: 40px;
    max-width: 276px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1;
    margin-top: 56px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 100px;
  }
}
