.flag-country {
  list-style: none;
}

.flag-country__item {
  margin-right: 20px;
}

.flag-country__item:last-child {
  margin-right: 0;
}

.flag-country__link {
  padding: 0;
  margin: 0;
}

.flag-country__img {
  border-radius: 5px;
}
