.main-header {
  background-color: #182044;
  padding-top: 19px;
  padding-bottom: 19px;
}

.main-header__mobil {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @desktop-width) {
    justify-content: flex-start;
  }
}

.main-header__modale {
  background-color: #ffffff;
  padding: 25px;
  margin-top: 30px;
  margin-left: -25px;
  margin-right: -25px;

  @media (min-width: @tablet-width) {
    padding: 40px;
    margin-left: -40px;
    margin-right: -40px;
    position: relative;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__mobil--modale {
  margin-bottom: 70px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-bottom: 100px;
  }
}

.modale-nav__wrapper {
  @media (min-width: @desktop-width) {
    display: flex;
    align-items: flex-start;
  }
}

.main-header__logo {
  background-image: url("..//image/logo_mobile.svg");
  background-repeat: no-repeat;
  width: 96px;
  height: 15px;

  @media (min-width: @tablet-width) {
    background-image: url("..//image/logo_full.svg");
    width: 166px;
    height: 42px;
  }

  @media (min-width: @desktop-width) {
    width: 200px;
    height: 50px;
  }
}

.main-header__logo--black {
  background-image: url("..//image/logo-black.svg");
  width: 96px;
  height: 15px;

  @media (min-width: @tablet-width) {
    background-image: url("..//image/logo_full_black.svg");
    height: 42px;
    width: 100%;
  }
}

.main-header__nav {
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    margin-bottom: 150px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.main-header__contacts {
  list-style: none;
  margin: 0;
  margin-left: 50px;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    margin-left: 100px;
    margin-bottom: 130px;
  }
}

.main-header__tel,
.main-header__link,
.main-header__mail {
  text-align: left;
}

.main-header__tel {
  margin-bottom: 27px;

  @media (min-width: @tablet-width) {
    margin-bottom: 38px;
  }
}


.main-header__toggle {
  width: 25px;
  height: 11px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__login {
  padding-top: 12px;
  padding-bottom: 12px;

  @media (min-width: @tablet-width) {
    padding: 16px 28px;
    font-size: 20px;
  }
}

.main-header__login--mobile {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__login--modale {
  display: block;
  margin-bottom: 50px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 40px;
    right: 40px;
    margin-bottom: 0;
    font-weight: 400;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-header__social {
  padding: 0;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    margin-left: 100px;
    justify-content: left;
    margin-bottom: 40px;
  }
}

.main-header__user {
  display: none;

  @media (min-width: @desktop-width) {
    padding: 0;
    display: flex;
    list-style: none;
    margin: 0;
    margin-left: auto;
    align-items: center;
  }
}

.main-header__user-tel,
.main-header__user-mail {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.main-header__user-tel {
  background-color: @special_orange;
}

.main-header__user-mail {
  background-color: @special_yellow_dark;
}

.main-header__user-button {
  padding: 15px 30px;
  font-size: 20px;
  box-sizing: border-box;
}
