.promo {
  padding-top: 20px;
  background-color: #161c36;
  background-image: url("..//image/globe-back-mobile1.png");
  background-repeat: no-repeat;
    background-size: cover;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("..//image/globe-back-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}


.promo__wrapper {
  padding-bottom: 39px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    position: relative;
    padding-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}


.promo__contacts {
  padding: 0;
  margin: 0 auto;
  margin-top: -30px;
}

.promo__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  margin: 0 auto;


  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 1.17;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 40px;
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    margin-left: 60px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
  }
}

.promo__review {
  margin: 0;
  margin-top: 27px;
  margin-bottom: 30px;
  margin-left: 25px;

  @media (min-width: @tablet-width) {
    margin: 0;
    margin-left: 30px;
    align-self: center;
    max-width: min-content;
  }
}

.promo__illustration {

  margin-left: -25px;
  margin-right: -25px;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/4;
    margin-left: -40px;
    margin-right: -40px;
    width: auto;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    grid-column: 1/3;
    grid-row: 1/-1;
    order: -1;
  }
}


.promo__background {
  height: 265px;
  background: url("..//image/traveller-illustration-mobile.png") bottom right 48px no-repeat;


  @media (min-width: @tablet-width) {
    background: url("..//image/traveller-illustration-tablet.png");
    margin-left: auto;
    margin-right: 100px;
    margin-bottom: 100px;
    width: 372px;
    height: 451px;
    order: 2;
  }

  @media (min-width: @desktop-width) {
    background-image: url("..//image/traveller-illustration-desktop.png");
    width: 430px;
    height: 640px;
    margin-bottom: 0;
    margin-right: 0;
  }
}

.promo__offers {
  list-style: none;
  margin: 0 auto;
  counter-reset: orderedlist;
  padding: 0;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    margin-top: -100px;
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    padding: 0;
    flex-wrap: nowrap;
    margin: 0;
    width: 100%;
    height: min-content;
  }
}

.promo__offers-text {
  padding-top: 22px;
  padding-bottom: 30px;
  padding-left: 24px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    padding-top: 25px;
    padding-left: 30px;
    padding-bottom: 30px;
    background-color: @basic_yellow;
    width: 100%;
    flex-direction: column;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 30px;
  }

  p {
    width: 60%;
    margin: 0;
    padding: 0;
    color: #161c35;
    font-weight: 700;
    font-size: 18px;
    line-height: 1;
    text-align: left;
    position: relative;

    @media (min-width: @tablet-width) {
      font-size: 24px;
    }

    @media (min-width: @desktop-width) {
      font-size: 24px;
      max-width: 180px;
    }
  }
}


.promo__offers-text:nth-child(1) {
  background-color: @special_orange;

  @media (min-width: @desktop-width) {
    border-radius: 10px 0 0 10px;
  }
}

.promo__offers-text:nth-child(2) {
  background-color: #ffa530;
  margin-top: -8px;

  @media (min-width: @tablet-width) {
    grid-row: 1/2;
    grid-column: 2/3;
    border-radius: 10px 10px 0 0;
    margin: 0;
    margin-left: -8px;
    padding-left: 38px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    z-index: 2;
    margin-left: -10px;
    border-radius: 10px 0 0 10px;
  }
}

.promo__offers-text:nth-child(3) {
  background-color: #ffbd30;
  margin-top: -8px;

  @media (min-width: @tablet-width) {
    border-radius: 0 0 0 10px;
    padding-top: 33px;
    padding-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    z-index: 3;
    margin-left: -10px;
    border-radius: 0 0 0 10px;
  }
}

.promo__offers-text:nth-child(4) {
  background-color: @basic_yellow;
  margin-top: -8px;
  border-radius: 10px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-left: -8px;
    border-radius: 0 0 10px 10px;
    padding-left: 38px;
    padding-top: 33px;
    padding-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    z-index: 4;
    margin-left: -10px;
    border-radius: 10px;
  }
}

.promo__offers li::after {
  counter-increment: orderedlist;
  content: counter(orderedlist);
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  margin-right: 21px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    margin-right: 0;
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    font-size: 24px;
  }
}

@media (min-width: @tablet-width) {
  padding-top: 12px;

  .promo__offers li:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.promo__tablet {
  padding-top: 12px;

  @media (min-width: @tablet-width) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 10px;
  }

  @media (min-width: @desktop-width) {
    grid-column: -1/-2;
    grid-row: 1/2;
    align-self: center;
    margin: 0;
    margin-left: 50px;
  }
}
