.review {
  margin: 28px 70px 28px 25px;
}

@media (min-width: @tablet-width) {
  .review {
    padding: 0;
    margin: 0 440px 211px 30px;
  }
}

@media (min-width: @desktop-width) {
  .review {
    margin: 0 23px 0 1033px;
  }
}

@media (min-width: @tablet-width) {
  .review__text {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.18;
  }
}

.review__author {
  font-weight: 700;
  height: 1.38;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .review__author {
    font-size: 21px;
    line-height: 1.19;
  }
}
