.review {
  text-align: start;
  width: 50%;

  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.review__text {
  padding: 0;

  @media (min-width: @tablet-width) {
    font-weight: 300;
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    margin-bottom: 45px;
  }
}

.review__author {
  font-weight: 700;
  font-style: normal;

  @media (min-width: @tablet-width) {
    font-size: 21px;
    line-height: 1.19;
  }

  @media (min-width: @desktop-width) {
    font-size: 21px;
    line-height: 1.19;
  }
}
