.user-list__tel,
.user-list__mail {
  background-color: @special_orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-position: center;
}

.user-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 245px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.user-list__login-button {
  padding: 12px 40px;
  font-size: 17px;

  @media (min-width: @desktop-width) {
    display: none;
  }
}
