.complete-plan__item {
  background-color: #ffffff;
  border-radius: 10px;
}

.complete-plan__item-button {
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}
