.constructor {
  background-color: #dfe3f0;
}

.constructor__box {
  border-radius: 30px 30px 0 0;
  padding-top: 27px;
  padding-bottom: 61px;
  background-color: #d4d9eb;

  @media (min-width: @tablet-width) {
    padding-top: 55px;
    padding-bottom: 53px;
  }
}

.constructor__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 31px;
  align-items: center;

  @media (min-width: @tablet-width) {
    margin-bottom: 66px;
    padding-left: 34px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 64px;
  }
}

.constructor__pagination {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;

  @media (min-width: @tablet-width) {
    margin-right: 27px;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.constructor__title {
  color: #1d2e5b;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.constructor__plan-item {
  margin-bottom: 10px;

  @media (min-width: @tablet-width) {
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 39px;
  }

  @media (min-width: @desktop-width) {
    margin-right: 0;
    margin-left: 0;
  }
}

.constructor__plan-form {
  border: none;
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  line-height: 1.76;

  @media (min-width: @tablet-width) {
    width: auto;
    text-transform: none;
    padding: 30px 139px 30px 34px;
  }
}
