.counter-input {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #cbced9;
  border-radius: 4px;
  margin-top: 8px;
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;

  &:hover {
    border: 1px solid #959bb2;
  }

  &:active {
    border: 1px solid #161c35;
  }

  @media (min-width: @tablet-width) {
    margin-top: 24px;
    padding: 23px;
    width: min-content;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    border: 1px solid #cbced9;
  }
}

.counter-input__button {
  width: 40px;
  height: 40px;
  display: block;
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
}

.counter-input__button--minus {
  background-image: url("../image/minus.svg");
  margin-right: auto;
}

.counter-input__button--plus {
  background-image: url("../image/plus.svg");
  margin-left: auto;
}

.counter-input__input {
  font-weight: 500;
  font-size: 14px;
  line-height: 0.94;
  text-transform: uppercase;
  color: #1d2e5b;
  border: none;
  text-align: center;
  appearance: none;
  display: block;
  padding: 0;


  @media (min-width: @tablet-width) {
    font-size: 20px;
  }
}
