.day__item input {
  display: none;
}

.day__item label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: #1d2e5b;

  @media (min-width: @desktop-width) {
    margin-left: 16px;
    margin-right: -16px;
  }
}

.day__item {
  border: 1px solid #d6d9e6;
  background-color: #edeff6;
  position: relative;
}

.day__item--off label {
  opacity: 0.3;
  color: @special_grey;
}

.day__item--off {
  background-color: transparent;
}

.day__item--check {
  background: #1d2e5b;
  border: 1px solid #cbced9;
  position: relative;

  label {
    color: #ffffff;
  }
}

.day__item--check-in {
  @media (min-width: @desktop-width) {
    border: 4px solid #ff5c23;
  }
}

.day__item--check-in::after {
  @media (min-width: @desktop-width) {
    content: "Заезд";
    width: 43px;
    height: 20px;
    position: absolute;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    bottom: 0;
    left: 10px;
    margin-bottom: 10px;
  }
}

.day__item--check-out::after {
  @media (min-width: @desktop-width) {
    content: "Выезд";
    width: 43px;
    height: 20px;
    position: absolute;
    color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.11;
    bottom: 0;
    left: 10px;
    margin-bottom: 10px;
  }
}
