.select-form__name {
  padding-top: 14px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: auto;
    padding: 0;
    padding-left: 25px;
    border-left: 1px solid #d6d9e6;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.select-form {
  padding-bottom: 16px;

  @media (min-width: @tablet-width) {
    width: 575px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
    border: none;
    align-items: center;
    padding-right: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 730px;
    flex-wrap: nowrap;
  }
}
