.step {
  background-color: #ffffff;
  border-radius: 10px;
  color: #1d2e5b;
  padding-top: 23px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 17px;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding: 40px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 100px;
  }
}

.step__header-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}

.step__header-name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  margin: 0;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
  }
}


.step__header-description {
  width: 90%;
  margin: 0;

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 1.2;
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.step__pagination,
.step__pagination-submit {
  border-radius: 20px;
  line-height: 1.38;
  padding-top: 7px;
  padding-bottom: 7px;
  display: block;

  @media (min-width: @tablet-width) {
    font-size: 24px;
    width: 50%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-transform: none;
  }

  @media (min-width: @desktop-width) {
    line-height: 1;
  }
}

.step__pagination-submit {
  width: 100%;
}

.step__form {
  margin-top: 20px;
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
    display: flex;
    flex-wrap: wrap;
  }
}

.step__form-сompanion {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.step__form-child {
  @media (min-width: @desktop-width) {
    width: 50%;
  }
}

.step__form-calendar {
  @media (min-width: @desktop-width) {
    width: 100%;
  }
}

.step__pagination-list {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: @desktop-width) {
    grid-column: 1/-1;
  }
}


.step__form-country {
  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    width: 100%;
  }
}

.step__header-navigation {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    grid-row: 1/3;
  }
}

.step-navigation__link {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
}

.step-navigation__link--current {
  opacity: 1;
}

.step-navigation__item {
  margin-bottom: 27px;
}

.step__name {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #1d2e5b;
  display: flex;
  justify-content: space-between;

  span {
    opacity: 0.3;
  }
}

.step__form-child-form {
  width: 26px;
  height: 26px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  background-color: transparent;
  margin-right: 13px;
}

.step__form-сompanion--child {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
