.catalog-traveler {
  background-color: #edeff6;
}

.catalog-traveler__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #192144;
}

.catalog-traveler__filter {
  background-color: #e2e5f2;
}

.catalog-traveler__button {
  background: #d6daed;
}

.catalog-traveler__offers-pagination {
  background: #ffffff;
  border-radius: 20px;
}

.catalog-traveler__offers .flag-country {
  display: flex;
  flex-direction: column;
}

.catalog-traveler__offers-button {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  background-color: inherit;
  border: none;
}
