.companion-selection {
  background: #ffd74b;
  border-radius: 20px;
  color: #1d2e5b;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: @desktop-width) {
    margin-top: 0;
  }
}

.companion-selection__title {
  margin: 0;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    text-align: left;
    margin-bottom: 30px;
  }
}
