.continent {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.continent__item {
  margin-bottom: 9px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    margin-right: 28px;
  }
}

.continent__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  text-transform: uppercase;
  color: #192144;
  opacity: 0.3;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 1;
  }
}

.continent__link--current {
  opacity: 1;
}
