.feature {
  border: none;
  border-bottom: 1px solid #f3c72b;
}

.feature__title {
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    float: left;
  }

  @media (min-width: @desktop-width) {
    float: none;
  }
}

.feature__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
  }
}

.feature__button {
  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: block;
  }
}
