.form-filter__button {
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #ffffff;
  border-radius: 25px;
  border: none;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
