.select-country__alphabet-letter {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;
  padding: 13px;
  cursor: pointer;
}

// .select-country__alphabet {
//   @media (min-width: @tablet-width) {
//     width: 50%;
//   }
// }

// .select-country-name {
//   @media (min-width: @tablet-width) {
//     width: 50%;
//   }
// }

.select-country__button-filter {
  @media (min-width: @tablet-width) {
    width: 100%;
    font-size: 20px;
    padding-top: 42px;
    padding-bottom: 42px;
    background-color: #d6daed;
  }
}

